@{
    ViewData["Title"] = "Home";
}
<h1>Faça Seu pedido</h1>
<p>Vá para a aba Cadastro e adiciones os itens ao seu pedido</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Cadastro">Cadastro</a>