@model List<ItemPedido>;

<h1>Lista de itens Pedidos</h1>
<table>
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ItemPedido item in Model)
        {
            <tr>
                <td>@item.descricao</td>
                <td>@item.precoUni</td>
                <td>@item.qtd</td>
            </tr>
        }
    </tbody>
</table>
<p>Total do Pedido: @Pedido.totalizador()</p>
